.carousel {
    height: 531px;
    width: 1423px;    
}
body {
    margin: 0;    
    font-family: Arial;
    font-size: 17px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(114, 112, 112);
    color:white ;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: #f7f5f3 solid 5px;
 }
.all {
   height:625px;
   width:525px;
   border: #dddddd solid 2px;
   /* margin: 0; */
 }
.favorite {
    width:525px;
    height: 300px;
    border: #dddddd solid 2px;
    margin-bottom: 25px;
    float: right;
}
.map {
    width:525px;
    height: 300px;
    border: #dddddd solid 2px;
    float: right;
}

.img1 , .img2 , .img3, .vid1 {
    height: 531px;
    width: 1423px;

}
#myVideo {
    position: relative;
    /* right: 0;
    bottom: 0; */
    /* min-width: 100%;  */
    /* max-height: 50%; */
    height: 95vh;
    overflow: auto;
    /* object-fit: contain; */
}
.vid {
    position: absolute;
    bottom: 0;
}

.content {
    position: absolute;
    bottom: 51px;
    /* bottom: 0; */
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 40px;
    overflow: auto;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

nav {
    margin-bottom: 15px;
}

.card-img {
    float: left;
    /* width: 40px;
    height: 40px; */
    margin-right: 15px;   
    
}
.card-body {
    padding: 0;
    line-height: 15px;
    display: inline-block;
    background-color: rgb(206, 202, 202);
    /* float: right; */
}
.card-text{
    margin-bottom: 5px;
    font-size: 15px;
}
.card-title{
    margin-bottom: 5px;
}
.card-img, .card-body , .icon {
    display: inline-block;
    height: 100px;
}
.event {
    padding: 5px;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
.invisible-scrollbar {
    display: block;
    /* width: 10em; */
    overflow: auto;
    /* height: 2em; */
  }
.icon{
    
    
      border:1px solid  rgb(112, 111, 111);
  }