.carousel {
    height: 531px;
    width: 1423px;    
}

#firstSearch {
    position:absolute;
    left:45%;
}
.content {
    height:500px;
    text-align:center;
    padding-top:300px;
}
body {
    margin: 0;    
    font-family: Arial;
    font-size: 17px;
}

#topbar {
    margin-top:175px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(114, 112, 112);
    color:white ;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: #f7f5f3 solid 5px;
 }
.all {
   height:625px;
   width:525px;
   border: #dddddd solid 2px;
   /* margin: 0; */
 }
.favorite {
    width:525px;
    height: 300px;
    border: #dddddd solid 2px;
    margin-bottom: 25px;
    float: right;
}
.map {
    width:525px;
    height: 300px;
    border: #dddddd solid 2px;
    float: right;
}
nav {
    height: 50px;
}

#myVideo {
    /* iframe { */
    position: relative;
    right: 0;
    bottom: 0;
    /* min-width: 100%;  */
    /* max-height: 50%; */
    height: 95vh;
    /* width: 1; */
    overflow: auto;
    /* object-fit: contain; */
}
.vid {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content {
    position: absolute;
    bottom: 51px;
    /* bottom: 0; */
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 40px;
    overflow: auto;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

nav {
    margin-bottom: 30px;
}

.card-img {
    float: left;
    /* width: 40px;
    height: 40px; */
    margin-right: 5px;   
    
}
.card-body {
    padding: 0;
    line-height: 15px;
    display: inline-block;
    /* background-color: rgb(206, 202, 202); */

    /* float: right; */
}
.card-text {
    margin-bottom: 5px;
    font-size: 12px;
}
.card-title{
    margin-bottom: 5px;
    font-size: 20px;

}
.card-img, .card-body , .icon {
    display: inline-block;
    height: 100px;
}
.event {
    padding: 5px;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
.invisible-scrollbar {
    display: block;
    /* width: 10em; */
    overflow: auto;
    /* height: 2em; */
  }

.container {
      margin-bottom: 80px;
  }
 
.waiting {
      width: 100%;
      height: 800px;
      margin: auto;
  }



.fa-times{
    color:  rgb(255, 30, 0) !important;

    height: 30px;
    width: 30px;
    margin-left: 10px;
}


h4{
    font-size:12px;
    margin: 2px;
}
.fa-star{
    color: yellow;
    height: 30px;
    width: 30px;
    margin-left: 10px;

}

=======
#favorites{
    display:none;
}

/* .hideFavorites{
    visibility:hidden;
    
} */

